<template>
    <div class="row">
        <!-- <div class="text-end">
            <router-link to="/people" class="btn btn-outline-light">Voir les --other tb</router-link>
        </div> -->
    </div>
    <div class="row">
        <h3 class="display-6">Liste des Alarmes</h3>
        <hr>
        <table class="table table-dark text-center">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">alarm code</th>
                    <th scope="col">Producer</th>
                    <th scope="col">Created by</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Updated at</th>
                    <th scope="col">Updated by</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(a, i) in alarms" :key="i">
                    <td>{{a.time}}</td>
                    <td>{{a.alarm_code_id}}</td>
                    <td>{{a.producer_id}}</td>
                    <td>{{a.created_by_id}}</td>
                    <td>{{a.created_at}}</td>
                    <td>{{a.updated_at}}</td>
                    <td>{{a.updated_by_id}}</td>
                    <!-- <td class="d-flex justify-content-center">
                        <router-link class="me-2 btn btn-outline-info" :to="`/houses/details/${h.id}`"><i class="bi bi-eye"></i> Details</router-link>
                        <router-link class="me-2 btn btn-outline-secondary" :to="`/houses/edit/${h.id}`"><i class="bi bi-pencil-square"></i> Edit</router-link>
                        <router-link class="btn btn-outline-danger" :to="`/houses/delete/${h.id}`"><i class="bi bi-trash"></i> Delete</router-link>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <hr>
        <!-- <div class="text-end">
            <router-link class="btn btn-outline-success" to="/houses/add">
                <i class="bi bi-plus-circle"></i> Ajouter
            </router-link>
        </div> -->
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                alarms: []
            }
        },
        mounted() {
            axios.get('http://localhost:8000/api/alarms/').then(res => {
                for(const key in res.data) {
                    this.alarms.push({id: key, ...res.data[key]})
                }
            })
        }
    }
</script>