<template>
  <div class="container">
    <div class="row">
      <h2>
        <router-link to="/alarms">Alarms List</router-link>
      </h2>
      <h2>
        <router-link to="/producer_alarms?producer=37"
          >Producer Alarms</router-link
        >
      </h2>
      <h2>
        <router-link to="/alarms_report">Alarms Report</router-link>
      </h2>
    </div>
    <div class="row">
      <div class="my-2 p-3 bg-dark rounded text-white col-md-10 offset-md-1">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h2 {
  display: inline;
  margin: 0 10px;
}
</style>
